@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes beam {
  from {
    transform: translate(-50%, -50%) scaleX(1);
  }
  75% {
    transform: translate(-50%, -50%) scaleX(0.7);
  }
  to {
    transform: translate(-50%, -50%) scaleX(1);
  }
}
