@import '@/globals/animations.module.scss';
@import '@/globals/variables.module.scss';

$size: 50px;
$size--s: 40px;
$size--xs: 20px;

.wrapper {
  position: relative;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.coin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateY(90deg);
  transform-style: preserve-3d;
  margin: auto;
  background: darken($gold, 10%);
  width: 10%;
  height: 100%;
  font-size: $size;

  &:before,
  &:after {
    @extend .front;
  }

  &:after {
    @extend .back;

    transform: rotateY(-90deg);
  }
}

.front {
  position: absolute;
  right: -0.396em;
  transform: rotateY(-90deg);
  backface-visibility: hidden;
  border-radius: 50%;
  background: $gold;
  width: $size;
  height: $size;
  overflow: hidden;
  content: '';
}

.back {
  @extend .front;

  left: -0.396em;

  transform: rotateY(90deg);
}

.inner {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: darken($gold, 10%);
  width: calc($size * 0.75);
  height: calc($size * 0.75);
}

.emblem {
  width: calc($size * 0.5);
  height: calc($size * 0.5);
}

.coin:before,
.coin:after {
  transform: rotateY(90deg);
  backface-visibility: hidden;
  background: darken($gold, 10%);
}
.coin:after {
  left: -0.396em;
  transform: rotateY(-90deg);
}

.wrapper.animated .coin {
  transform: unset;
  animation: rotateY 2s infinite linear;
}

.wrapper.size-s {
  width: $size--s;
  height: $size--s;

  .coin {
    font-size: $size--s;
  }

  .coin:before,
  .coin:after,
  .front,
  .back {
    width: $size--s;
    height: $size--s;
  }

  .inner {
    width: calc($size--s * 0.75);
    height: calc($size--s * 0.75);
  }

  .emblem {
    width: calc($size--s * 0.5);
    height: calc($size--s * 0.5);
  }
}

.wrapper.size-xs {
  width: $size--xs;
  height: $size--xs;

  .coin {
    font-size: $size--xs;
  }

  .coin:before,
  .coin:after,
  .front,
  .back {
    width: $size--xs;
    height: $size--xs;
  }

  .inner {
    width: calc($size--xs * 0.75);
    height: calc($size--xs * 0.75);
  }

  .emblem {
    width: calc($size--xs * 0.5);
    height: calc($size--xs * 0.5);
  }
}

.wrapper.color-purple {
  .coin,
  .inner {
    background: darken($purple, 10%);
  }
  .coin:before,
  .coin:after,
  .front,
  .back {
    background: $purple;
  }
}

.wrapper.color-dark {
  .coin,
  .inner {
    background: darken($black, 10%);
  }
  .coin:before,
  .coin:after,
  .front,
  .back {
    background: $black;
  }
  .emblem {
    opacity: 0;
  }
}
