@import '@/globals/variables.module.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: gutter(4);
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: gutter(8);
}
.title {
  display: flex;
  align-items: center;

  color: $gold;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Righteous', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
}

.transition-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winnings {
  outline: 4px solid teal;
}
