@import '@/globals/variables.module.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: gutter(4);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.transition-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: gutter(10);
  color: lighten($dark-purple, 10%);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
