@import '@/globals/variables.module.scss';

$item-size: 100px;

:export {
  itemSize: $item-size;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.title {
  color: $white;
  font-weight: 700;
  font-size: 48px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.count-container {
  display: flex;
  align-self: center;
  margin-bottom: gutter(4);
}

.count {
  &--active {
    background: green;
    color: white;
    font-weight: 700;
  }
}

.winnings {
  outline: 4px solid teal;
}
