@import '@/styles/variables.module.scss';

.header {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: gutter(10);
  width: calc(100%);
  max-width: $item-size * 18;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: gutter(4);
  }
}

.title {
  display: flex;
  align-items: center;

  color: $gold;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Righteous', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
