@import '@/globals/variables.module.scss';
@import '@/globals/animations.module.scss';

$gem-size: 40px;
$border-width: 40px;

.spinbox {
  position: relative;
  box-shadow: $box-shadow-default;
  border-top: $border-default;
  border-bottom: $border-default;
  border-radius: $border-radius-large;
  padding: gutter(10) gutter(0);
  width: 100%;
  max-width: $item-size * 18;
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-right: $border-default;
    border-left: $border-default;
    border-radius: $border-radius-large 0 0 $border-radius-large;
    background: url('../../assets/tile.jpeg');
    background-size: 100px;
    background-repeat: repeat;
    width: $border-width;
    height: 100%;
    content: '';
  }

  &:after {
    right: 0;
    left: unset;
    border-radius: 0 $border-radius-large $border-radius-large 0;
  }
}

.beam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: linear-gradient(90deg, $mint, $white, $mint);
  width: calc($gem-size * 0.8);

  height: 100%;

  &.animate {
    animation: beam 0.3s infinite linear;
  }
}

.trackers {
  position: absolute;
  top: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-$gem-size / 2);
  width: $gem-size;
  height: 100%;

  &:before,
  &:after {
    position: absolute;
    top: -$gem-size/2;
    border-radius: 50%;
    background: radial-gradient(lighten($purple, 10%) 30%, $purple 60%);
    width: $gem-size;
    height: $gem-size;
    content: '';
  }
  &:after {
    top: unset;
    bottom: -$gem-size/2;
  }
}

.wrapper {
  display: flex;
  will-change: transform;
}
